*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:sans-serif
  
}

header{
  width:100%;
  height:100px;
  background-color:rgb(26, 25, 24);
  color:#fff;
  text-align:center;
  line-height:100px;
  margin-bottom:10px;
  /* margin-top:10px; */
  

}
section{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width:100%;
  height:500px;
  padding:20px;
  background-color:bisque;
  margin-bottom:20px;
}
.left{
  width:69%;
  background-color:rgb(150, 129, 150);
  padding:20px;
  color:#ffff;
}
.right{
  width:29%;
  background-color:black;
  color:white;
  
  
}

nav a{
  width:100%;
  height:50px;
  margin-bottom:10px;
  display:block;
  background-color:#1d1b1b;
  color:rgb(208, 228, 222);
  text-decoration:none;
  text-align:center;
  line-height:50px;

}
footer{
  width:100%;
  height:100px;
  background-color:rgb(59, 55, 55);
  text-align:center;
  line-height:100px;
  color:white;
}
.right p{
  font-size:20px;
  margin-bottom:20px;
  margin-top:10px;
}

